
<br>
<br>
<app-missiondetails [missionDetail] = 'selectedMission'></app-missiondetails>
<br>
<br>
<div class="container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Mission name</th>
                <th>Launch year</th>
                <th>Image icon</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let mission of missions" (click)="onSelect(mission)" class="active-row">
                <td><span>{{mission.mission_name}}</span></td>
                <td><span>{{mission.launch_year}}</span></td>
                <td><span>{{mission.links.mission_patch_small}}</span></td>
                <td><span>{{mission.details}}</span></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>

